data/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyz
*.pyw
*.egg-info/
*.dist-info/
*.dist/
*.build/
*.egg/
*.log
*.cache
*.env
output/
debug/
test*.bat
test*.py
.direnv
.envrc
*:Zone.Identifier